.inputbox {
	max-width: 20rem;
	margin-top: 9%;
	margin-bottom: 5%;
	margin-left: 5%
}

.row{
	margin-top: 3rem;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  	margin-bottom: 4rem;
}

.footer {
	text-align: center;
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  	height: 4rem;
  	line-height: 4rem;
  	background-color: white;
  	opacity: 0.5;
}

.card{
	width: 25rem;
}


.main{
	background-image: url(../image/bg.jpg);
}

header{
	position: fixed;
	width:100%;
	z-index: 10;
}

.jumbotron{
	height: 1000px;
	text-align: center;
}



.change-card{
	width: 100%;
}

.container{
	text-align: center;
}

.iframe{
	width:70%;
	margin-left: 15%;
}